<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nulo-ecosystem" value="https://nuget.pkg.github.com/nulo-ecosystem/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <nulo-ecosystem>
      <add key="Username" value="kastney" />
    </nulo-ecosystem>
  </packageSourceCredentials>
</configuration>